body, html {
    height: 100%;
}

h1 {
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.main-nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
 
.big-image {
    background-image: url(./images/film.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bitimage-text {
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 40%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.search-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
  }

  .card {
    text-align: center;
    border: rgb(0, 24, 102) solid 1px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    display: inline-grid;
    margin: 5px 5px;
    box-shadow: 3px 4px rgb(224, 224, 224)
  }

  body {
      background-color: #ffffff;
  }