body, html {
    height: 100%;
}

h1 {
    color: rgb(79, 160, 203);
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
    color: rgb(79, 160, 203);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-top: 220px;
    margin-right: 100px;
}

h4 {
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(78, 175, 255);
}

h5 {
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
  }

.main-nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    background-color: rgb(79, 160, 203);
  }
  
.big-image {
    background-image: url(./images/banner.jpg);
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bitimage-text {
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 40%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.search-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
  }

  .card {
    text-align: center;
    border: rgb(224, 224, 224) solid 1px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    display: inline-grid;
    margin: 10px 10px;
    box-shadow: 3px 4px rgb(224, 224, 224)
  }

  .card:hover {
    transition: 1s ease;
    background-color: rgb(0, 0, 0);
    opacity:1;
    transition: 0.80s ease;
 }

  button {
    background-color: rgb(79, 160, 203);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }


  body {
      background-color: #ffffff;
  }

 .movies-details {
     background-color: rgb(0, 0, 0);
     text-align: center;
     margin-top: 20px;
 }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

.watch-list {
background-color: rgb(255, 255, 255);
}


/* .mDetails {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     color: white;
 }

 .details-rest {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
 } */
/* 
.searchForm {
    text-decoration: tomato;
} */